<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url={{ url_for('register') }}">
    <title>Redirecting...</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to right, #e0eafc, #cfdef3);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        p {
            font-size: 18px;
            color: #333;
        }
    </style>
</head>
<body>
    <a href="{{ url_for('forgot_password') }}">Forgot Password?</a>

</body>
</html>
